@model List<Product>
@{
    ViewData["Title"] = "SUBURBAN";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>

<body>
    <div id="allDiv">
        <div class="genderDividers">
            <h4>Men</h4>
            <a asp-controller="ProductList" asp-action="Index">more...</a>
        </div>
        <div class="productDivs">
            <ul class="productLists">
                @{
                    if (Model != null)
                    {
                        var men = Model.Where(x => x.Gender.Gender_Name == "Men").Take(5).ToList();
                        for (int i = 0; i < men.Count; i++)
                        {
                            <li class="productItems">
                                    <img src="@men[i].ThumbnailURL" />
                                    @Html.ActionLink(men[i].Name, "Index", "Product", routeValues: new { id = men[i].Id})
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="genderDividers">
            <h4>Women</h4>
            <a asp-controller="ProductList" asp-action="Index">more...</a>
        </div>
        <div class="productDivs">
            <ul class="productLists">
                @{
                    if (Model != null)
                    {
                        var women = Model.Where(x => x.Gender.Gender_Name == "Women").Take(5).ToList();
                        for (int i = 0; i < women.Count; i++)
                        {
                            <li class="productItems">
                                    <img src="@women[i].ThumbnailURL" />
                                    @Html.ActionLink(women[i].Name, "Index", "Product", routeValues: new { id = women[i].Id})
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="genderDividers">
            <h4>Children</h4>
            <a asp-controller="ProductList" asp-action="Index">more...</a>
        </div>
        <div class="productDivs">
            <ul class="productLists">
                @{
                    if (Model != null)
                    {
                        var children = Model.Where(x => x.Gender.Gender_Name == "Children").Take(5).ToList();
                        for (int i = 0; i < children.Count; i++)
                        {
                            <li class="productItems">
                                    <img src="@children[i].ThumbnailURL" />
                                    @Html.ActionLink(children[i].Name, "Index", "Product", routeValues: new { id = children[i].Id})
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</body>
