@model List<Product>
@{
    ViewData["Title"] = "SUBURBAN";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>

<body>
    <div id="allDiv">
        <div class="genderDividers">
            <h4>Men</h4>
            <a asp-controller="ProductList" asp-action="Index">more...</a>
        </div>
        <div class="productDivs">
            <ul class="productLists">
                @{
                    if (Model != null)
                    {
                        var men = Model.Where(x => x.Gender.Name == "Men").Take(5).ToList();
                        for (int i = 0; i < men.Count; i++)
                        {
                            <li class="productItems">
                                <img src="@Model[i].ThumbnailURL" />
                                <p>@Model[i].Name</p>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="genderDividers">
            <h4>Women</h4>
            <a asp-controller="ProductList" asp-action="Index">more...</a>
        </div>
        <div class="productDivs">
            <ul class="productLists">
                @{
                    if (Model != null)
                    {
                        var men = Model.Where(x => x.Gender.Name == "Women").Take(5).ToList();
                        for (int i = 0; i < men.Count; i++)
                        {
                            <li class="productItems">
                                <img src="@Model[i].ThumbnailURL" />
                                <p>@Model[i].Name</p>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="genderDividers">
            <h4>Children</h4>
            <a asp-controller="ProductList" asp-action="Index">more...</a>
        </div>
        <div class="productDivs">
            <ul class="productLists">
                @{
                    if (Model != null)
                    {
                        var men = Model.Where(x => x.Gender.Name == "Children").Take(5).ToList();
                        for (int i = 0; i < men.Count; i++)
                        {
                            <li class="productItems">
                                <img src="@Model[i].ThumbnailURL" />
                                <p>@Model[i].Name</p>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</body>
