@model List<Product>
@{
    ViewData["Title"] = "Products";
}
<head>
    <link rel="stylesheet" href="~/css/productList.css" asp-append-version="true" />
</head>

<!-- Control buttons -->
<div id="myBtnContainer" class="sidenav">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    @{
        if (Model != null)
        {
            var products = Model;
            var filters = new HashSet<string>();
            for (int i = 0; i < Model.Count; i++)
            {
                if (!filters.Contains(products[i].Gender.Gender_Name))
                {
                    <br>
                    <button class="btn" onclick="filterSelection('@products[i].Gender.Gender_Name')"> @products[i].Gender.Gender_Name</button>
                    
                    filters.Add(products[i].Gender.Gender_Name);
                }
                if (!filters.Contains(products[i].ProductType))
                {
                    <br>
                    <button class="btn" onclick="filterSelection('@products[i].ProductType')"> @products[i].ProductType</button>
                    
                    filters.Add(products[i].ProductType);
                }
                if (!filters.Contains(products[i].Category.Category_Name))
                {
                    <br>
                    <button class="btn" onclick="filterSelection('@products[i].Category.Category_Name')"> @products[i].Category.Category_Name</button>
                    
                    filters.Add(products[i].Category.Category_Name);
                }
                if (!filters.Contains(products[i].Brand.Brand_Name))
                {
                    <br>
                    <button class="btn" onclick="filterSelection('@products[i].Brand.Brand_Name')"> @products[i].Brand.Brand_Name</button>
                    
                    filters.Add(products[i].Brand.Brand_Name);
                }

            }
        }
    }
    <button class="btn disabled" style="opacity: 0%"></button>
    <button class="btn disabled" style="opacity: 0%"></button>
    <button class="btn disabled" style="opacity: 0%"></button>
</div>

<!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
<div class="myContainer">
    @{
        if (Model != null)
        {
            var products = Model;
            for (int i = 0; i < products.Count; i++)
            {
                <div class="filterDiv @products[i].Gender.Gender_Name @products[i].ProductType @products[i].Category.Category_Name @products[i].Color.Color_Name @products[i].Brand.Brand_Name">
                    <img src="@products[i].ThumbnailURL" />
                    @Html.ActionLink(products[i].Name, "Index", "Product", routeValues: new { id = products[i].Id})
                </div>
            }
        }
    }
</div>

<script src="~/js/productList.js" asp-append-version="true"></script>