@model ProductViewModel
@{
	ViewData["Title"] = "Edit product";
}

<div class="text-center">
	<h1 class="display-4">Edit product</h1>

	<form asp-controller="Film" asp-action="Edit" method="post">
		<label>Name</label> <br>
		<input name="name" value="@Model.product.Name" required> <br>

		<label>Price</label> <br>
		<input type="number" min="0" name="price" value="@Model.product.Price" required> <br>

		<label>Brand</label> <br>
		<input name="brand" value="@Model.product.Brand" required> <br>
		
		<label>Color</label> <br>
		<input name="color" value="@Model.product.Color" required> <br>

		<label>Size</label> <br>
		<input type="number" min="36" max="44" name="size" value="@Model.product.Size" required> <br>

		<input name="productId" value="@Model.product.Id" hidden>

		<br><br>

		<button>Save changes</button>
	</form>
</div>