@model List<CartItem>
@{
    ViewData["Title"] = "Shopping Cart";
}

<style>
    .productDivs {
        background-color: lightgray;
        padding: 10px;
        margin: 8px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #mainDiv {
        margin-top: 6em;
        background-color: white;
        padding: 12px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }

    #submitDiv {
        text-align: center;
    }

    .subProductDivs{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
</style>

<div id="mainDiv">
    @if (Model == null || Model.Count <= 0)
    {
        <h3>Cart is empty.</h3>
    }
    else
    {
        <h1>@ViewData["Title"]</h1>
        <form asp-controller="Cart" asp-action="UpdateCart" method="post">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="productDivs">
                    <div class="subProductDivs">
                        <img src="@Model[i].Product.ThumbnailURL" style="height: 100px; width: 100px; margin-right: 2em; border-radius:10px">
                        <h5>@Model[i].Product.Name, @Model[i].Product.Color.Color_Name, @Model[i].Product.Size</h5>
                    </div>
                    <div class="subProductDivs">
                        <h6 style="margin-right: 2em">$@Model[i].Price</h6>
                        <input asp-for="@Model[i].Quantity" class="quantity" type="number" style="width:70px">
                        <input asp-for="@Model[i].ItemId" hidden>
                        <input asp-for="@Model[i].ProductId" hidden>
                    </div>
                </div>
            }
            <div id="submitDiv" style="margin: auto;">
                <input type="submit" value="Update" class="btn btn-lg" style="background-color: #2286d8; color: white">
                <a href="@Url.Action("Checkout", "Cart", @Model)" class="btn btn-lg" style="background-color: #2286d8; color: white">Checkout</a>
            </div>
        </form>
    }
</div>