@{
	ViewData["Title"] = "User Profile";
}

<h1 class="display-4">My profile</h1>
<br>
<p>Username: @Model.UserName</p>
<p>Password: ********</p>
<p>First name: @Model.FirstName</p>
@if (Model.LastName != null)
{
	<p>Last name: @Model.LastName</p>
}

<input type="button" style="background-color: lightseagreen; color: white" value="My list" onclick="location.href='@Url.Action("GetMyList", "User")'" /><br><br>

<input type="button" style="background-color: coral; color: white" value="Edit profile" onclick="location.href='@Url.Action("EditProfile", "User")'" />
<input type="button" style="background-color: indianred; color: white" value="Delete profile" onclick="location.href='@Url.Action("AreYouSure", "User")'" /><br><br>
<input type="button" style="background-color: deepskyblue; color: white" value="Log out" onclick="location.href='@Url.Action("LogOut", "User")'" />